/*
font-family: 'Exo 2', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: 'Montserrat';

}

.container {
  width: 1171px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.container-big {
  width: 1480px;
}

/* .container-small {
  width: 1020px;
} */

.top-panel {
  width: 100%;
  height: 140px;
  /* background-color: black; */
  color: #1a1a1a;
  border-bottom: 1px solid #dde2e7;
}

.row-top-panel {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.top-panel__icons a {
  margin-right: 30px;
  cursor: pointer;
}

.top-panel__icons a:last-child {
  margin-right: 0;
}

.top-panel__title {
  font-family: 'Exo 2';
  font-size: 38px;
  font-weight: 900;
}

.top-panel__notification {
  display: flex;
  align-items: center;
}

.top-panel__button {
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  padding: 15px 40px;
  background-color: #375573;
  border-radius: 35px;
  margin-left: 45px;
  cursor: pointer;
}

.middle {
  width: 100%;
  color: #1a1a1a;
}

.row-middle {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

.middle-left {
  padding-top: 50px;
  width: 870px;
}

.middle-left__title {
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.middle-left__subtitle {
  color: #b0b0b0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.middle-left__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
}

.middle-left__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dde2e7;
  padding-bottom: 40px;
  padding-top: 40px;
}

.middle-left__button {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  border-radius: 6px;
  background-color: #375573;
  padding: 18px 30px;
  margin-top: 15px;
}

.middle-left__button a {
  text-decoration: none;
  color: #ffffff;
}

.middle-left__icons a {
  margin-right: 25px;
  cursor: pointer;
}

.middle-left__icons a:last-child {
  margin-right: 0;
}

.middle-left__pagination a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  margin-right: 20px;
}

.middle-left__pagination a:last-child {
  margin-right: 0;
}

.middle-left__pagination a span {
  color: #e84c50;
}

.middle-left__pag {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.28px;
}

.middle-right {
  width: 270px;
}

.middle-right__title {
  font-size: 21px;
  font-weight: 900;
  border-radius: 4px;
  border: 1px solid #dde2e7;
  padding: 22px 74px;
  margin-top: 60px;
}

.middle-right__img {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.middle-right__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 18px;
  text-align: center;
}

.middle-right__description {
  color: #b0b0b0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #dde2e7;
}

.middle-right__instagramm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-panel {
  width: 100%;
  color: #1a1a1a;
  border-bottom: 1px solid #dde2e7;
  height: 196px;
  background-color: #dde2e7;
}

.row-bottom-panel {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1020px;
}

.bottom-panel__footer {
  padding-top: 60px;
}

.bottom-panel__footer a {
  display: block;
  text-decoration: none;
  color: #8e9399;
  padding-bottom: 23px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px
}