// Footer
.bottom-panel
  .container.container-small
    .row-bottom-panel
      .bottom-panel__footer
        a(href='#')  Latest Posts
        a(href='#') Popular Posts
      .bottom-panel__footer
        a(href='#') Search
        a(href='#') Contact Information
      .bottom-panel__footer
        a(href='#') Privacy Policy
        a(href='#') Terms of Use
      .top-panel__icons
        a(href='#')
          img(src='./img/instagram.png', alt='instagram')
        a(href='#')
          img(src='./img/twitter.png', alt='twitter')
        a(href='#')
          img(src='./img/facebook-f.png', alt='facebook')
// //Footer