.top-panel
  .container.container-big
    .row-top-panel
      .top-panel__icons
        a(href='#')
          img(src='../src/img/instagram.png', alt='instagram')
        a(href='#')
          img(src='../src/img/twitter.png', alt='twitter')
        a(href='#')
          img(src='../src/img/facebook-f.png', alt='facebook')
      .top-panel__title
        | Hipsum Blog
      .top-panel__notification
        a(href='#')
          img(src='../src/img/search.jpg', alt='search')
        .top-panel__button Subscribe